body{
    margin: 0 auto;
    width: 952px;
    padding: 0;
    position: relative;
    font-family: Nunito;
}

#first-page-bacground{
    background-color: pink;
    width: 325px;
    height: 730px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 50px;
    z-index: -51;
}

header{
    padding-top: 0px;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    font-family: sans-serif;

}



header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 75px 68px 96px 77px 74px 150px;
    column-gap: 28px;
}

header nav ul li{
    text-align: center;
}

header nav ul li a{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(34, 34, 34, 0.75);
    text-decoration: none;
}

header nav ul li a.home{
    font-weight: 800;
    color: #DAA520;
}

header nav ul li a.sign-up{
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3E3F43;
    border-radius: 8px;
    padding: 5px 15px;
}

section#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5em;
    border: none;
    min-height: 700px;
    position: relative;
}

section#main div{
    display: grid;
    grid-template-rows: 100px 200px 40px;
}

section#main div p{
    font-size: 36px;
    width: 504px;
    margin: 0;
}

section#main div h1{
    font-family: Arial;
    font-size: 72px;
    font-weight: bold;
    color: #313235;
    margin: 0;
}

section#main div button{
    background-color: #DAA520;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: bold;
    width: 175px;
    height: 50px;
}

section#main img{
    margin-left: -80px;
    margin-top: -50px;
}

section#main #main-flower{
    position: absolute;
    top: 300px;
    right: 200px;
    z-index: -1;
    opacity: 70%;

}

section#about .section-title{
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 30px 205px 270px 379px;
}

section#about .section-title div:nth-child(2){
    font-size: 36px;
    font-weight: bold;
}

section#about .section-title h2{
    font-size: 72px;
    color: #222222;
    opacity: 0.1;
    font-weight: bolder;
    font-family: Nunito;
}



article#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5em;
    border: none;
    min-height: 200px;
    position: relative;
}

article#main .rectangle{
    
    width: 210px;
    height: 310px;
    position: absolute;
    left: 0;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: -51;
    background: #F7DEA6;
}



article#main header{
    font-family: Arial;
    font-size: 72px;
    color: #313235;
    margin: 0;
}

article#main header {
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    font-family: sans-serif;
}


article.align p{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    font-family: sans-serif;

}

article#main img{
    width: 70%;
    margin-left: 0px;
    margin-top: -25px;
}

article#main header{
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: #313235;
    margin: 0;
}



article#main #about-flower{
    position: absolute;
    top: 200px;
    left: -150px;
    z-index: -1;
    opacity: 70%;
    width: 350px;

}
section#how-it-work{
    height: 530px;
}

section#how-it-work .section-title{
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 30px 205px 100px 450px;
}

section#how-it-work .section-title div:nth-child(2){
    font-size: 30px;
    font-weight: bold;
}

section#how-it-work .section-title hr{
    width: 70px;
}

section#how-it-work .section-title h2{
    font-size: 70px;
    color: #222222;
    opacity: 0.1;
    font-weight: bolder;
    font-family: Nunito;
}

section#how-it-work .section-body{
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 100px;

}

section#how-it-work  button{
    background-color: #DAA520;
    border-radius: 4px;
    border: none;
    color: white;
    margin-top: 40%;
    margin-left: 350px;
    font-weight: bold;
    width: 175px;
    height: 50px;

}


section#categories .section-title{
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 205px 150px 379px;
}

section#categories .section-title{
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 30px 205px 150px 379px;
}

section#categories .section-title div:nth-child(2){
    font-size: 30px;
    font-weight: bold;
}

section#categories .section-title  hr{
    width: 150px;
}

section#categories .section-title h2{
    font-size: 70px;
    color: #222222;
    opacity: 0.1;
    font-weight: bolder;
    font-family: Nunito;
}

section#categories{
    height: 100%;
}

section#categories article.section-body{
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 220px 220px 220px ;
    grid-template-rows: 350px;
}

section#categories div.rectangle{
    
    width: 210px;
    height: 310px;
    position: initial;
    left: 0;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: -51;
    background: #F7DEA6;
}

section#categories div.rectangle p{
    font-family:"Times New Roman";
    margin-top: 10%;
    margin-left: 10%;
    font-size: 25px;
    
}

footer{
    
    height: 100px;
}

